package {{author}}.{{project_name}};

import akka.actor.testkit.typed.javadsl.LoggingTestKit;
import akka.actor.testkit.typed.javadsl.ActorTestKit;
import akka.actor.typed.ActorSystem;
import akka.actor.typed.Behavior;
import akka.actor.typed.javadsl.AbstractBehavior;
import akka.actor.typed.javadsl.ActorContext;
import akka.actor.typed.ActorRef;
import akka.actor.typed.javadsl.Adapter;
import akka.actor.typed.javadsl.Behaviors;
import akka.actor.typed.javadsl.Receive;
import com.typesafe.config.ConfigFactory;
import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;

import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

import org.slf4j.event.Level;

import java.util.*;
import io.vavr.*;
import io.vavr.control.*;

import com.typesafe.config.Config;
import com.typesafe.config.ConfigFactory;

import com.varda.*;
import com.varda.timers.*;
import com.bmartin.*;

import static org.junit.jupiter.api.Assertions.*;

public class ObservablesTest {
    ActorTestKit testKit = null;

    @BeforeEach
    public void setUp() {
        String[] args = new String[2];
        args[0] = "-vp";
        args[1] = "placeA";
        Config config = ConfigFactory.parseString("akka.http.server.preview.enable-http2 = on").withFallback(AbstractMain.get_config(args));
        testKit = ActorTestKit.create("{{system_name}}", config);
    }

    @AfterEach
    public void tearDown() {
        testKit.shutdownTestKit();
    }

{% for guardian_name in target_entrypoints %}
    {% if substring(0,8,guardian_name) == "TopLevel"%}
    @Test
    public void check_logs_A() throws Exception{
        class Counter {
            public int a_init_session   = 0;
            public int b_receive        = 0;
        }
        Counter counter = new Counter ();

        LoggingTestKit.messageContains(">")
        .withCustom(
        event ->{
            if(event.level() == Level.DEBUG){
                System.out.println(event.message());
                if(event.message().contains("TestA> initiate session")){
                    counter.a_init_session += 1;
                    return true;
                }
                if(event.message().contains("TestA> Receive int")){
                    counter.b_receive += 1;
                    return true;
                }
            }
            return false;
        }
        )
        .withOccurrences​(4)
        .expect(
            testKit.system(),
            () -> {
                ActorRef<SpawnProtocol.Command> kvs1 = testKit.spawn({{guardian_name}}.create(true), "KVS1");

                try{
                    java.lang.Thread.sleep(15);
                }catch(InterruptedException e) {}

                return null;
            });

        assertEquals(counter.a_init_session, 2);
        assertEquals(counter.b_receive, 2);
    }
    {% endif %}
{% endfor %}
}
