version: "3"

services:
  redis:
    image: 'bitnami/redis:latest'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes

  server1: #seed node
    # hostname is needed to define a known docker hostname that is used as the seed hostname.
    hostname: server1
    build: .
    image: {{project_name}}-server
    ports:
      - "8080:8080/tcp"
      - "25520:25520/tcp"
    environment:
      TZ: 'Europe/Paris'
    command: [
      "/bin/wait-for-it.sh", "redis:6379",
      "--",
      "/usr/local/openjdk-11/bin/java",
      "-jar", "local.jar",
      "-p", "25520", 
      "-s", "\"akka://{{system_name}}@server1:25520\"",
      "-l", "8080",
      "-vp", "Cloud"
    ]
    depends_on:
      - "redis"
# cd ../akka && gradle jarLocal
# java -enableassertions -jar build/libs/local.jar -ip 127.0.0.1 -p 25520 -s akka://{{system_name}}@127.0.0.1:25520 -l 8080 -vp Cloud