(data_only_dirs examples data)
;; TODO FIXME examples/*/*.... if any (nothing is working with dune) or generate the dune files
(test
 (name main)
 (action (run %{test} --long))
 (deps
  (glob_files data/*.spec)
    {% for location in locations %} (glob_files {{location.filename}})
    {% endfor %}
 )
 (libraries compspec.core compspec.frontend compspec.compspeclib ounit2))