version: "3"

services:
  server1: #seed node
    # hostname is needed to define a known docker hostname that is used as the seed hostname.
    hostname: server1
    build: .
    image: {{project_name}}-server
    ports:
      - "8080:8080/tcp"
      - "25520:25520/tcp"
    environment:
      TZ: 'Europe/Paris'
    entrypoint: "/usr/local/openjdk-11/bin/java -enableassertions -jar passivePlayer.jar"
    command: [
      "-p", "25520", 
      "-s", "\"akka://{{system_name}}@server1:25520\"",
      "-l", "8080",
      "-vp", "Cloud"
    ]
# cd ../akka && gradle jarPassivePlayer
# java -enableassertions -jar build/libs/passivePlayer.jar -ip 127.0.0.1 -p 25520 -s akka://{{system_name}}@127.0.0.1:25520 -l 8080 -vp Cloud

  server2:
    build: .
    image: {{project_name}}-server
    depends_on:
      - server1 
#    ports:
#      - "8081:8080/tcp"
#      - "25521:25520/tcp"
    environment:
      TZ: 'Europe/Paris'
    deploy:
      mode: replicated
      replicas: 3
    entrypoint: "/usr/local/openjdk-11/bin/java -enableassertions -jar multiPlayer.jar"
    command: [
      "-p", "25521", 
      "-s", "\"akka://{{system_name}}@server1:25520\"",
      "-l", "8080",
      "-vp", "placeA"
    ]
# cd ../akka && gradle jarMultiPlayer
# java -enableassertions -jar build/libs/multiPlayer.jar -ip 127.0.0.1 -p 25521 -s akka://{{system_name}}@127.0.0.1:25520 -l 8081 -vp placeA